---
import Header from '../components/navHeader.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/dogicon.svg" />
		<link rel="icon" href="/dogicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>PORTAL HUB</title>
	</head>

	<Header>
	</Header>

	<main>
		<aside>
			<h2> SIDEBAR </h2>
			<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt nemo blanditiis sunt nobis mollitia quibusdam laudantium tempora voluptate quam. Iure consectetur est dicta aliquid repellendus, architecto atque minus tempore at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quia? Deleniti deserunt a consequatur iure rerum. Tempora dicta iusto ut laborum dolor, tempore, facilis recusandae laudantium, incidunt natus debitis fugit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nemo similique sequi temporibus ipsum maxime ullam quibusdam sapiente sint dolores doloribus fuga, quod repellat ut voluptatum. Consequatur pariatur atque maxime. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, eos! Quidem non necessitatibus commodi enim reiciendis! Commodi temporibus officia pariatur ab fugiat sint vero in, ad voluptates. Non, quaerat error.</p>
		</aside>
		<section>
			<h2> SECTION </h2>
			<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quos sequi expedita soluta reiciendis neque, repellat modi delectus beatae quis magni vero eligendi, explicabo placeat laboriosam natus dignissimos at tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex totam debitis veniam incidunt beatae saepe, atque odio eius officiis ducimus, fugiat accusamus. Libero quibusdam consequatur iure natus deleniti provident vel.</p>
		</section>
		<article> 
			<h2> ARTICLE</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sit voluptates ipsum voluptas, asperiores ipsam laboriosam, eos officiis recusandae, cumque optio quos itaque aliquam illum dolorem aperiam. Vero, cupiditate exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ex. Culpa non adipisci aperiam voluptas, mollitia quibusdam ipsa maiores porro veritatis ullam dolorum, hic possimus modi quia distinctio excepturi quod?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, ipsa ullam voluptate amet voluptates distinctio veritatis labore. Accusantium architecto magni dolorum laudantium consequuntur? Aperiam accusantium id perspiciatis provident, ut quam?</p>
		</article>
	</main>

	<style>
		aside {
			width: 20%;
			float: left;
			margin: 7px 25px;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}
		section {
			width: 40%;
			float: left;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

		}
		article {
			width: 40%;
			float: left;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

		}
	</style>

</html>