<body>
    <nav class="navbar"> 
        <a href="">Home<span></span></a>
        <a href="">Pages<span></span></a>
        <a href="">Projects<span></span></a>
        <a href="">About<span></span></a>
    </nav>
</body>

<style>
    body {
        margin: 0; /* SPACING */
        background: rgb(255, 255, 255); /* SCREEN BACKGROUND */
    }

    .navbar {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: rgb(99, 99, 99); /* BAR BACKGROUND */
        width: 100%;
    }

    .navbar a { /* TEXT */
        position: relative;
        margin-right: 10px;
        padding: 12px 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2em;
        color: rgb(34, 34, 34);
        text-decoration: none;
    }

    .navbar a:hover {
        color: rgb(255, 255, 255);
        transition:0.5s;
    }
</style>

