<html>
    <nav class="navbar"> 
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>

    <style>
        .navbar ul {
            list-style-type: none;
            background-color: rgb(48, 48, 48);
            padding: 0px;
            margin: 0px;
            overflow: hidden;

            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            padding: 30px;
            display: block;
            text-align: center;
        }
        .navbar a:hover {
            background-color: rgb(35, 35, 35);
        }
        .navbar li {
            float: left;
        }
    </style>
</html>